<div class="container py-4">
  <div class="row mt-5 mb-5">
    <div class="col-md-2"></div>
    <div class="col">
      <form action="https://formsubmit.co/contact@sofia-carrasco.com" method="POST">
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" name="name" placeholder="Name" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="emailAddress">Email Address</label>
          <input class="form-control" type="email" name="email" placeholder="Email Address" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="message">Message</label>
          <textarea class="form-control" type="text" name="message" placeholder="Message"
            style="height: 10rem;"></textarea>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="row mt-5 mb-5">
  <div class="col-md-3"></div>
  <div class="col-md-3">
    <div class="dbox w-100 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-phone"></span>
      </div>
      <div class="text">
        <p><span>Phone: </span> <a href="tel://7865188714">786-518-8714</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="dbox w-100 text-center">
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="fa fa-paper-plane"></span>
      </div>
      <div class="text">
        <p><span>Email: </span> <a href="mailto:contact@sofia-carrasco.com">contact@sofia-carrasco.com</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
