<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer-class">
  <ul class="nav col-12 mb-3 mb-md-0 col-md-4 justify-content-center float-md-center list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/sofiacarrasco.i" target="_blank"><img title="facebook" alt="facebook" src="assets/icon/facebook-cosmo.svg" height="40" width="40"></a></li>
    <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/sofiacarrasco.i/" target="_blank"><img title="instagram" alt="instagram" src="assets/icon/instagram-cosmo.svg" height="40" width="40"></a></li>
    <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/channel/UCzD4v0FM9SUYUAKE7EtqfEg" target="_blank"><img title="youtube" alt="youtube" src="assets/icon/youtube-cosmo.svg" height="40" width="40"></a></li>
  </ul>

  <div class="col-12 col-md-8 d-flex align-items-center justify-content-center float-md-center ps-5">
    <span class="text-muted ps-5">Copyright  &copy; 2023 SOFIA CARRASCO  - All Rights Reserved</span>
  </div>
</footer>
