<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer-class">
  <ul class="nav col-12 mb-3 mb-md-0 col-md-4 justify-content-center float-md-center list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted"><img title="facebook" alt="facebook" src="assets/icon/facebook-sketchy.svg" height="40" width="40"></a></li>
    <li class="ms-3"><a class="text-muted"><img title="instagram" alt="instagram" src="assets/icon/instagram-sketchy.svg" height="40" width="40"></a></li>
    <li class="ms-3"><a class="text-muted"><img title="youtube" alt="youtube" src="assets/icon/youtube-sketchy.svg" height="40" width="40"></a></li>
  </ul>

  <div class="col-12 col-md-8 d-flex align-items-center justify-content-center float-md-center">
    <span class="text-muted">Copyright  &copy; 2023 SOFIA CARRASCO  - All Rights Reserved</span>
  </div>
</footer>
