<header class="mb-auto">
  <div class="row row-container">
    <div class="content mt-4 mb-3">
      <h1 class="text-uppercase">Sofia Carrasco</h1>
    </div>
  </div>
  <div class="row mb-2">
    <nav class="nav nav-masthead justify-content-center float-md-center">
      <a class="nav-link p-3 pt-0 pb-0 fw-lighter spacing"  [ngClass]="{'active' : router.url === '/'}" aria-current="page" [routerLink]="['']">HOME</a>
      <a class="nav-link p-3 pt-0 pb-0 fw-lighter spacing" [ngClass]="{'active' : router.url === '/contact'}" [routerLink]="['/contact']">JOIN MY EMAIL LIST</a>
      <a class="nav-link p-3 pt-0 pb-0 fw-lighter spacing" [ngClass]="{'active' : router.url === '/music'}" [routerLink]="['/music']">MUSIC</a>
      <a class="nav-link p-3 pt-0 pb-0 fw-lighter spacing" [ngClass]="{'active' : router.url === '/art'}" [routerLink]="['/art']">VISUAL ART</a>
    </nav>
  </div>
</header>
