<header class="mb-auto">
  <div class="row row-container">
    <div class="content mt-4 mb-3">
      <h1>Sofia Carrasco</h1>
    </div>
  </div>
  <div class="row mb-2">
    <nav class="nav nav-masthead justify-content-center float-md-center">
      <a class="nav-link p-3 pt-0 pb-0" [ngClass]="{'active' : selectedPage.page == 'home'}" (click)="changeSelected('home')" aria-current="page">HOME</a>
      <a class="nav-link p-3 pt-0 pb-0" [ngClass]="{'active' : selectedPage.page == 'music'}" (click)="changeSelected('music')">MUSIC</a>
      <a class="nav-link p-3 pt-0 pb-0" [ngClass]="{'active' : selectedPage.page == 'art'}" (click)="changeSelected('art')">VISUAL ART</a>
      <a class="nav-link p-3 pt-0 pb-0" [ngClass]="{'active' : selectedPage.page == 'contact'}" (click)="changeSelected('contact')">CONTACT</a>
    </nav>
  </div>
</header>
