.overflow-hidden
  width: 50%

.principal-row
  height: 40vw

.principal-col
  max-height: 100%

.principal-col-text
  max-height: 100%
  overflow: auto

.principal-img
  max-height: 100%
  max-width: 100%

.principal-div
  max-height: 500px

.principal-text
  overflow: auto
  max-height: 86%

@media screen and (max-width: 768px)
  .overflow-hidden
    width: 100%
