<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
  <main class="px-3">
    <app-gallery [galleryData]="galleryArt1"></app-gallery>
  </main>
</div>

<div class="mt-5 mb-3">
  <h2 class="display-3 font-weight-bold">Last Exhibits</h2>
</div>

<div>
  <hr>
  <div class="row mb-2 principal-row">
    <div class="col-12 col-md-6 principal-col">
        <div class="d-flex flex-column align-items-end justify-content-center principal-div">
          <img class="principal-img" src="assets/art/contemplation/principal.jpg" alt="principal">
        </div>
    </div>
    <div class="col-12 col-md-6 principal-col-text">
      <div class="my-1 p-1">
        <h2 class="display-5">Contemplation</h2>
      </div>
      <div class="p-4 d-flex flex-column position-static principal-text">
        <p class="lead" style="text-align: center;">
          Contemplation is a state of the human being in which mental silence is practiced, detachment from thoughts and sensations. It is practiced through careful and careful observation of the reality we perceive.<br/>
          The situation we are going through has allowed us to reflect and meditate on our existence, our feelings and sensations, what is essential and necessary in our lives and what ends up being irrelevant.<br/>
          It has allowed us to appreciate moments that used to go unnoticed in other circumstances, to rediscover materials, formats and techniques. Addressing intimate and personal subjects necessary to discover ourselves as artists.<br/>
          We have discovered, through contemplation, the beauty and naturalness of the things that surround us. This allows us to be in harmony with our environment and reflect, managing to be present with all our "being" in everything we do and moment we live.
        </p>
        <p class="lead" style="text-align: center;">
          This duo exhibition took place from November 6 - 28, 2020 in the galleries of the UNSA cultural center in Arequipa, Perú.
        </p>
      </div>
    </div>
  </div>
  <app-gallery-full [galleryData]="galleryArt2"></app-gallery-full>
</div>

<div>
  <hr>
  <div class="row mb-2 principal-row">
    <div class="col-12 col-md-6 principal-col">
        <div class="d-flex flex-column align-items-end justify-content-center principal-div">
          <img class="principal-img" src="assets/art/ambivalent/principal.jpg" alt="principal">
        </div>
    </div>
    <div class="col-12 col-md-6 principal-col-text">
      <div class="my-1 p-1">
        <h2 class="display-5">Ambivalent</h2>
      </div>
      <div class="p-4 d-flex flex-column position-static principal-text">
        <p class="lead" style="text-align: center;">
          The main theme of this exhibition is the representation of the naked body of a woman, without head or arms, stylized to the point of having become a new being, and of having demanded a universe of its own. However, the work could be interpreted in different and opposite ways. Some will understand the characters as representations of the feminine, sensual and harmless figure, but there will also be others who will find a clearly phallic, erotic and crude representation.<br/>
          The title of the exhibition lies precisely in the different interpretations that the same work can provoke.<br/>
          “Every nude has and will always have an ambivalent meaning, a mistaken emotion, if on the one hand it elevates to the pure peaks of mere physical beauty and, towards the understanding of moral and spiritual beauty, on the other hand it can hardly lose its ballast. too human of irrational attraction, lust and vain display”.<br/>
          Juan-Eduardo Cirlot, Dictionary of Symbols

        </p>
        <p class="lead" style="text-align: center;">
          “In a country without shadows, populated by light beings who have reached heights inaccessible to terrestrials. They are truly beings from the beyond: where the shadow that captivates the light ceases, there the beyond begins”.<br/>
          Henry Corbin
        </p>
        <p class="lead" style="text-align: center;">
          This solo exhibition took place from June 4 - 29, 2019 in the galleries of the UNSA cultural center in Arequipa, Perú.
        </p>
      </div>
    </div>
  </div>
  <app-gallery-full [galleryData]="galleryArt3"></app-gallery-full>
</div>

<div>
  <hr>
  <div class="col-12 col-md-6 principal-col-text">
    <div class="p-5 py-1">
      <h2 class="display-5">Other Works</h2>
    </div>
  </div>
  <app-gallery-full [galleryData]="galleryArt4"></app-gallery-full>
</div>
