<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
  <main class="px-3">
    <app-gallery [galleryData]="galleryHome"></app-gallery>
    <div class="row mt-5 mb-4">
      <div class="col-0 col-md">
      </div>
      <div class="col col-md-8 col-lg-5">
        <p class="lead p-3">Sofia Carrasco is a tenor saxophonist and visual artist from Arequipa, Perú. Honesty in interpretation is Sofia’s core value. Currently, she is creating a project called Visual Afro – Andean Jazz where her original artwork will accompany the musical experience of mixing the language of jazz harmony and improvisation with the rooted characteristic of Andean and African rhythms.</p>
      </div>
      <div class="col-0 col-md">
      </div>
    </div>
  </main>
</div>
