<div class="d-md-flex flex-md-equal w-100 mt-5">
  <div class="bg-dark px-3 px-md-5 text-center text-white overflow-hidden">
    <div class="py-2 my-2"></div>
    <div class="bg-light shadow-sm mx-auto border-video">
      <iframe class="video-yt" src="https://www.youtube.com/embed/EBATy5Ra03w" allowfullscreen></iframe>
    </div>
    <div class="py-2 my-2 my-md-0 py-md-0"></div>
  </div>
  <div class="bg-light px-3 px-md-5 text-center overflow-hidden">
    <div class="my-1 p-1">
      <h2 class="display-5">Quisiera Quererte</h2>
    </div>
    <div class="bg-dark shadow-sm mx-auto border-desc text-white p-3">
      <p class="lead" style="text-align: center;">
        Listen to Sofia's arrangement of "Quisiera Quererte" by  Moises Castillo Villanueva.
      </p>
      <p class="lead" style="text-align: center;">
        Arrangement, saxophones, audio and video edition: Sofia Carrasco <br/>
        Electric bass: Jose Zuñiga <br/>
        Percussion: Hezrai Palacios.
      </p>
    </div>
  </div>
</div>
<!-- https://www.youtube.com/embed/1ozGKlOzEVc -->
<div class="d-md-flex flex-md-equal w-100">
  <div class="bg-light px-3 px-md-5 text-center overflow-hidden">
    <div class="py-2 my-2"></div>
    <div class="bg-dark text-white shadow-sm mx-auto border-video">
      <iframe class="video-yt" src="https://www.youtube.com/embed/Qtu3I8J9fpM" allowfullscreen></iframe>
    </div>
    <div class="py-2 my-2 my-md-0 py-md-0"></div>
  </div>
  <div class="bg-dark bg-light px-3 px-md-5 text-center overflow-hidden">
    <div class="my-1 p-1 text-white ">
      <h2 class="display-5">Horizonte</h2>
    </div>
    <div class="bg-light shadow-sm mx-auto border-desc  p-3">
      <p class="lead" style="text-align: center;">
        Listen to Sofia's original composition "Horizonte".
      </p>
      <p class="lead" style="text-align: center;">
        Keyboards: Victor Sotomayor <br/>
        Drums: Hezrai Palacios  <br/>
        Vocals: Jean Malque  <br/>
        Sound Production: Sofía Carrasco and Victor Sotomayor Sonido
      </p>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100">
  <div class="bg-dark px-3 px-md-5 text-center text-white overflow-hidden">
    <div class="py-2 my-2"></div>
    <div class="bg-light shadow-sm mx-auto border-video">
      <iframe class="video-yt" src="https://www.youtube.com/embed/RttWxdjHhns" allowfullscreen></iframe>
    </div>
    <div class="py-2 my-2 my-md-0 py-md-0"></div>
  </div>
  <div class="bg-light px-3 px-md-5 text-center overflow-hidden">
    <div class="my-1 p-1">
      <h2 class="display-5">Princesita Huanca and Pio Pio</h2>
    </div>
    <div class="bg-dark shadow-sm mx-auto border-desc text-white p-3">
      <p class="lead" style="text-align: center;">
        Listen to Sofia's arrangement of "Princesita Huanca" by  Moises Castillo Villanueva and "Pio Pio" by Luis Anglas and Eusebio "Chato" Grados
      </p>
      <p class="lead" style="text-align: center;">
        Arrangement and saxphones: Sofia Carrasco <br/>
        Percussion and audio production: Hezrai Palacios
      </p>
    </div>
  </div>
</div>

