<div class="d-md-flex justify-content-between w-100 mt-5 px-4">

  <div class="text-center overflow-hidden d-flex justify-content-end">
    <div class="border-video">
      <iframe class="video-yt" src="https://www.youtube.com/embed/EBATy5Ra03w" allowfullscreen></iframe>
    </div>
  </div>

  <div class="text-center overflow-hidden d-flex justify-content-start">
    <div class="border-video my-1 p-1">
      <h2 class="display-5 title-text">Quisiera Quererte</h2>
      <p class="lead text-text mt-4">
        Listen to Sofia's arrangement of "Quisiera Quererte" by  Moises Castillo Villanueva.
      </p>
      <p class="lead text-text">
        Arrangement, saxophones, audio and video edition: Sofia Carrasco <br/>
        Electric bass: Jose Zuñiga <br/>
        Percussion: Hezrai Palacios.
      </p>
    </div>
  </div>
</div>

<div class="d-md-flex justify-content-between w-100 px-4">

  <div class="text-center overflow-hidden d-flex justify-content-end">
    <div class="border-video my-1 p-1 ">
      <h2 class="display-5 title-text">Horizonte</h2>
      <p class="lead text-text mt-4">
        Listen to Sofia's original composition "Horizonte".
      </p>
      <p class="lead text-text">
        Keyboards: Victor Sotomayor <br/>
        Drums: Hezrai Palacios  <br/>
        Vocals: Jean Malque  <br/>
        Sound Production: Sofía Carrasco and Victor Sotomayor Sonido
      </p>
    </div>
  </div>

  <div class="text-center overflow-hidden d-flex justify-content-start">
    <div class="border-video">
      <iframe class="video-yt" src="https://www.youtube.com/embed/Qtu3I8J9fpM" allowfullscreen></iframe>
    </div>
  </div>

</div>

<div class="d-md-flex justify-content-between w-100 px-4">

  <div class="text-center overflow-hidden d-flex justify-content-end">
    <div class="border-video">
      <iframe class="video-yt" src="https://www.youtube.com/embed/RttWxdjHhns" allowfullscreen></iframe>
    </div>
  </div>

  <div class="text-center overflow-hidden d-flex justify-content-start">
    <div class="border-video my-1 p-1">
      <h2 class="display-5 title-text">Princesita Huanca and Pio Pio</h2>
      <p class="lead text-text mt-4">
        Listen to Sofia's arrangement of "Princesita Huanca" by  Moises Castillo Villanueva and "Pio Pio" by Luis Anglas and Eusebio "Chato" Grados
      </p>
      <p class="lead text-text">
        Arrangement and saxphones: Sofia Carrasco <br/>
        Percussion and audio production: Hezrai Palacios
      </p>
    </div>
  </div>

</div>

